<template id="project-template">
  <li class="project">
    <a class="project-link">
      <h2 class="project-header">
        {{!-- Affiche le nom du projet --}}
      </h2>
      <button
        type="button"
        class="close"
      >&#215;</button>
    </a>
  </li>
</template>

<nav
  class="projects-container"
  id="projects-container"
>
  <ul id="projects-list" class="projects-list">

  </ul>
</nav>