<template id="project-template">
  <li class="project-name">
    {{!-- Affiche le nom du projet --}}
  </li>
</template>

<nav
  class="projects-container"
  id="projects-container"
>
  <ul id="projects-list">

  </ul>
</nav>